<header>
  <div class="row">
    <div class="col-sm-12 welcome">
      <h1 class="welcome__main-message">Welcome to my Rails Tutorials Portfolio</h1>
      <h3 class="welcome__sub-message">
      	All apps below are built following CodeCademy's step-by-step walkthroughs
      </h3>
    </div>
  </div>
</header>
