@import "variables";

.card {
	font-size: 1em;
	overflow: hidden;
	padding: 0;
	border: none;
	border-radius: .28571429rem;
	box-shadow: 1.5px 1.5px 7px $light-box-shadow;

	.card__block {
		font-size: 1em;
		position: relative;
		margin: 0;
		padding: 1em;
		border: none;
		border-top: none;
		box-shadow: none;

		.card__title {
			font-size: 1.28571429em;
			font-weight: 700;
			line-height: 1.2857em;
		}
	}

	.card__img-top-container {
		-webkit-clip-path: $main-img-slant;
		clip-path: $main-img-slant;
	    margin-bottom: -5%;

	    .card__img-top {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	.card__text {
		clear: both;
		margin-top: .5em;
		color: rgba(0, 0, 0, .68);
	}

	.card__footer {
		font-size: 1em;
		position: static;
		top: 0;
		left: 0;
		max-width: 100%;
		padding: .75em 1em;
		color: rgba(0, 0, 0, .5);
		/*border-top: 1px solid rgba(0, 0, 0, .05) !important;*/
		/*background: #fff;*/
		border-top: none;
		background: $gray-background;
	}

	.meta {
		font-size: 1em;
		color: rgba(0, 0, 0, .4);

			.card__source {
			margin-right: 4px;
		}
	}
}