@import "variables";

/* HEADER */

header {
	border-top: solid .4rem $brand-teal;
	padding: 15rem;
	background: $background-gradient;
	color: $white;
	text-align: center;
	.welcome {
		.welcome__main-message {
			font-size: 5rem;
		}
		.welcome__sub-message {
			font-size: 2.5rem;
			font-weight: 100;
			letter-spacing: .05rem;
		}
	}
}